/* Chrome, Safari, Opera 등의 Webkit 브라우저용 */
body ::-webkit-scrollbar,
.CodeMirror-scroll::-webkit-scrollbar {
  display: none; /* 스크롤바를 숨깁니다 */
}

/* Firefox 브라우저용 */
body,
.CodeMirror-scroll {
  scrollbar-width: none; /* 스크롤바를 숨깁니다 */
}

/* IE 10+ 및 Edge 브라우저용 */
body,
.CodeMirror-scroll {
  -ms-overflow-style: none; /* 스크롤바를 숨깁니다 */
}

.tab-container {
  display: flex;
  margin-bottom: 10px;
}

.tab-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.tab-button.active {
  background-color: #ccc;
}

.editor-container {
  border: 1px solid #ccc;
}
